.DS_Store
.env
.github
/node_modules
/backend/node_modules
/frontend/node_modules

dist

build

others/*
!others/
!others/krishinexus_specs.md

AGENTS.md

/package-lock.json

frontend/package-lock.json

backend/package-lock.json

# Local archive assets
others.zip
*.zip



