MONGODB_URI=
GEMINI_API_KEY=
CLIENT_URL=http://localhost:5173
PORT=5000
BAMIS_BULLETIN_BASE_URL=http://localhost:5001/api/fetch-bulletin
BAMIS_DISEASE_BASE_URL=http://localhost:5002/api/fetch-diseases
BAMIS_THRESHOLD_BASE_URL=http://localhost:5003/api/fetch-thresholds
BDAPI_BASE_URL=https://bdapi.vercel.app/api/v.1